@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth; /* Enable smooth scrolling */
}
.splide__pagination__page.is-active {
  background-color: #2f3e46 !important;
}
.splide__pagination__page {
  background-color: #84a98c !important;
}
