@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth; /* Enable smooth scrolling */
}
.splide__pagination__page.is-active {
  background-color: #2f3e46 !important;
}
.splide__pagination__page {
  background-color: #84a98c !important;
}
.scroll-hidden::-webkit-scrollbar {
  height: 0;
  background: transparent;
}
.scroll-hidden {
  scrollbar-width: none; /* Firefox */
}
.logo-svg {
  transition: fill 0.3s ease;
}
.logoo-svg {
  transition: fill 0.3s ease;
}

.main-logo:hover .logo-svg {
  fill: #84a98c; /* لون جديد عند التحويم */
}
.main-logoo:hover .logoo-svg {
  fill: #cad2c5; /* لون جديد عند التحويم */
}
.file-input {
  background-color: #cad2c5 !important;
  color: #2f3e46 !important;
  font-weight: 500;
}
